@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}


<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Trang chủ</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">


</section>

@section Scripts {

}
