<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/login.css" /> <!-- Link đến file CSS riêng -->
</head>
<body>
    @RenderBody() <!-- Nội dung sẽ được hiển thị ở đây -->
</body>
</html>
